In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
df=pd.read_csv('car driving risk analysis.csv',sep=',')

In [2]:
df

    speed  risk
0     200    95
1      90    20
2     300    98
3     110    60
4     240    72
5     115    10
6      50     7
7     230    85
8     190    45
9     260    91
10    290    82
11    185    59
12    310    93
13     95    18
14     30     2

# #Spliting Dataset into training set and test set

In [4]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df['speed'],df['risk'],test_size=0.4,random_state=1)

In [11]:
x_train

1      90
13     95
0     200
14     30
9     260
8     190
12    310
11    185
5     115
Name: speed, dtype: int64

In [10]:
y_train

1     20
13    18
0     95
14     2
9     91
8     45
12    93
11    59
5     10
Name: risk, dtype: int64

In [14]:
x=df[['speed']]
x.head()

   speed
0    200
1     90
2    300
3    110
4    240